* {
    box-sizing: border-box;
}

body {
    margin: auto;
    display: block;
}

// MIXIN & ROOT
@mixin flex ($flexDirection) {
    display: flex;
    align-items: center;
    flex-direction: $flexDirection;
}

$firstColor: azure;
$secondColor: darkred;
$thirdColor: rgb(126, 235, 18);
$fourColor: black;

.show {
    #carouselExampleCaptions {
        .carousel-inner {
            .carousel-item {
                width: 100%;
                height: 100vh;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                .navbar {
                    @include flex (row);
                    justify-content: space-between;
                    .navbar-brand {
                        .img-fluid {
                            height: 160px;
                            cursor: pointer;
                            max-width: 350px;
                            margin-left: 6px;
                        }
                    }
                    #btnBars {
                        display: none;
                        cursor: pointer;
                        font-size: 1.5em;
                        color: $firstColor;
                        border: transparent;
                        background: transparent;
                    }
                    .navbar-nav {
                        align-items: center;
                        column-gap: 60px;
                        margin-right: 15px;
                        .nav-item {
                            .nav-link {
                                font-size: 1.4em; 
                            }
                        }
                        #btnLog {
                            margin-bottom: 7px;
                            color: $firstColor;
                            cursor: pointer;
                            font-size: 1.6em;
                            border: transparent;
                            background: transparent;
                        }
                    }
                }
                #tesShow {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    .showGames {
                        .row {
                            margin-top: -70px;
                            .col-lg-4 {
                                .img-fluid {
                                    margin: 16px auto;
                                }
                            }
                        }
                        &.hide {
                            display: none;
                        }
                        &.show {
                            display: block;
                        }
                    }
                    #btnShow {
                        margin: auto;
                        display: block;
                        position: relative;
                        top: 50%;
                        left: 0%;
                        font-size: 1.4em;
                        transform: translate(-30%, -50%);
                        background: transparent;
                        &.show {
                            transform: translate(-40%, 40%);
                        }
                    }
                }
                #falloutShow {
                    position: absolute;
                    top: 50%;
                    left: 24%;
                    transform: translate(-50%, -50%);
                    #falloutSaga {
                        text-align: center;
                        &.show {
                            margin: auto;
                            display: block;
                            margin-left: 128px;
                        }
                    }
                    .showGames {
                        .row {
                            margin-top: -40px;
                            .col-lg-4 {
                                .img-fluid {
                                    margin: 16px auto;
                                }
                            }
                        }
                        &.hide {
                            display: none;
                        }
                        &.show {
                            display: block;
                            margin: 30px auto;
                        }
                    }
                    #btnShow {
                        margin: auto;
                        display: block;
                        font-size: 1.6em;
                        
                        background: transparent;
                        &.show {
                            margin-left: 280px;
                        }
                    }
                    &.show {
                        top: 60%;
                    }
                }
                #starfieldShow {
                    position: absolute;
                    top: 60%;
                    left: 15%;
                    transform: translate(-50%, -50%);
                    #starfieldSaga {
                        height: 450px;
                    }
                    .showGames {
                        .row {
                            margin-top: -70px;
                            margin-left: -20px;
                            .col-lg-12 {
                                .img-fluid {
                                    display: block;
                                    text-align: center;
                                    margin: 16px auto;
                                }
                            }
                        }
                        &.hide {
                            display: none;
                        }
                        &.show {
                            display: block;
                            margin: 10px auto;
                        }
                    }
                    #btnShow {
                        margin: auto;
                        display: block;
                        font-size: 1.3em;
                        background: transparent;
                    }
                }
            }
        }
    }
}

#sideTes {
    max-width: 150px;
    height: 205px;
    border: 1px solid $firstColor;
    border-radius: 0px 0px 0px 40px;
    .offcanvas-body {
        border: 1px solid $firstColor;
        background-color: $fourColor;
        border-radius: 0px 0px 0px 40px;
        #btnCloseCanvas {
            position: relative;
            top: -6px;
            left: 82%;
            font-size: 1.4em;
            color: $secondColor;
            border: transparent;
            background: transparent;
        }
        .navbar {
            margin-left: 10px;
            margin-top: -14px;
            .navbar-nav {
                line-height: 25px;
                text-align: center;
                .nav-item {
                    font-size: 1.1em;
                    color: $firstColor;
                    font-family: planewalker;
                }
            }
        }
    }
}

#sideFallout {
    max-width: 150px;
    height: 205px;
    border: 1px solid $firstColor;
    border-radius: 0px 0px 0px 40px;
    .offcanvas-body {
        border: 1px solid $firstColor;
        background-color: $fourColor;
        border-radius: 0px 0px 0px 40px;
        #btnCloseCanvas {
            position: relative;
            top: -6px;
            left: 82%;
            font-size: 1.4em;
            color: $secondColor;
            border: transparent;
            background: transparent;
        }
        .navbar {
            margin-left: 10px;
            margin-top: -14px;
            .navbar-nav {
                line-height: 25px;
                text-align: center;
                margin-left: 15px;
                .nav-item {
                    font-size: 1.4em;
                    color: $firstColor;
                    font-family: overseer;
                }
            }
        }
    }
}

#sideStar {
    max-width: 150px;
    height: 205px;
    border: 1px solid $firstColor;
    border-radius: 0px 0px 0px 40px;
    .offcanvas-body {
        border: 1px solid $firstColor;
        background-color: $fourColor;
        border-radius: 0px 0px 0px 40px;
        #btnCloseCanvas {
            position: relative;
            top: -6px;
            left: 82%;
            font-size: 1.4em;
            color: $secondColor;
            border: transparent;
            background: transparent;
        }
        .navbar {
            margin-left: 10px;
            margin-top: -14px;
            .navbar-nav {
                text-align: center;
                line-height: 25px;
                margin-left: -8px;
                .nav-item {
                    font-size: 1.0em;
                    color: $firstColor;
                    font-family: conthrax;
                }
            }
        }
    }
}

.tes {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/picts/theElderScrolls/theElderScrollsWallpaper.png');
    .navbar {
        @include flex (row);
        justify-content: space-between;
        .navbar-brand {
            .img-fluid {
                height: 160px;
                cursor: pointer;
                max-width: 350px;
                margin-left: 6px;
            }
        }
        #btnBars {
            display: none;
            cursor: pointer;
            font-size: 1.5em;
            color: $firstColor;
            border: transparent;
            background: transparent;
        }
        .navbar-nav {
            align-items: center;
            column-gap: 60px;
            margin-right: 15px;
            .nav-item {
                .nav-link {
                    font-size: 1.4em; 
                }
            }
            #btnLog {
                margin-bottom: 7px;
                color: $firstColor;
                cursor: pointer;
                font-size: 1.6em;
                border: transparent;
                background: transparent;
            }
        }
    }
    .showGame {
        margin: 25px auto;
        .containGame {
            padding: 10px;
            .row {
                column-gap: -30px;
                .col-lg-4 {
                    text-align: center;
                    .img-fluid {
                        text-align: center;
                        height: 320px;
                        max-width: 300px;
                    }
                }
                .col-lg-8 {
                    line-height: 40px;
                    margin-left: -100px;
                    h2 {
                        font-size: 2.5em;
                        color: $firstColor;
                        text-shadow: 4px 3px 8px #6d0303
                    }
                    .listType {
                        margin-left: -20px;
                        button {
                            padding: 2px;
                            font-size: 1.2em;
                            margin-left: 20px;
                            margin-right: 20px;
                            color: $firstColor;
                            border: 2px solid $firstColor;
                            font-family: planewalker;
                            background: transparent;
                        }
                    }
                    p {
                        overflow: auto;
                        line-height: 55px;
                        font-size: 1.6em;
                        color: $firstColor;
                        font-family: planewalker;
                        text-shadow: 0px 3px 2px #000000
                    }
                }
            }
            video {
                margin: 50px auto;
                display: block;
                object-fit: cover;
            }
            #btnBuy {
                letter-spacing: 5px;
                font-size: 1.4em;
                display: block;
                margin: -10px auto;
                border: 1px solid $firstColor;
                background: transparent;
                transition: all 0.25ms ease;
                a {
                    font-family: planewalker;
                    color: $firstColor;
                    text-decoration: none;
                }
                &:active {
                    transform: translateY(10px);
                }
            }
        }
    }
    .footer {
        padding-left: 10px;
        padding-right: 10px;
        @include flex (row);
        align-items: center;
        justify-content: space-between;
        .copyrigth {
            font-size: 1.6em;
            color: $firstColor;
            font-family: planewalker;
        }
        .listSocial {
            column-gap: 30px;
            @include flex (row);
            list-style-type: none;
            .social-item {
                .social-link {
                    opacity: 0.7;
                    font-size: 1.3em;
                    color: $firstColor;
                    text-decoration: none;
                    &:hover {
                        opacity: 1.0;
                    }
                }
            }
        }
    }
}

.fallout {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/picts/fallout/falloutWallpaper.png');
    .navbar {
        @include flex (row);
        justify-content: space-between;
        .navbar-brand {
            .img-fluid {
                height: 160px;
                cursor: pointer;
                max-width: 350px;
                margin-left: 6px;
            }
        }
        #btnBars {
            display: none;
            cursor: pointer;
            font-size: 1.5em;
            color: $firstColor;
            border: transparent;
            background: transparent;
        }
        .navbar-nav {
            align-items: center;
            column-gap: 60px;
            margin-right: 15px;
            .nav-item {
                .nav-link {
                    font-size: 1.4em; 
                }
            }
            #btnLog {
                margin-bottom: 7px;
                color: $firstColor;
                cursor: pointer;
                font-size: 1.6em;
                border: transparent;
                background: transparent;
            }
        }
    }
    .showGame {
        margin: 25px auto;
        .containGame {
            padding: 10px;
            .row {
                column-gap: -30px;
                .col-lg-4 {
                    text-align: center;
                    .img-fluid {
                        text-align: center;
                        height: 260px;
                        max-width: 300px;
                    }
                }
                .col-lg-8 {
                    line-height: 40px;
                    margin-left: -100px;
                    h2 {
                        font-size: 2.5em;
                        color: $firstColor;
                        text-shadow: 4px 3px 8px #6d0303                    }
                    .listType {
                        margin-left: -20px;
                        button {
                            padding: 2px;
                            font-size: 1.8em;
                            margin-left: 20px;
                            margin-right: 20px;
                            color: $firstColor;
                            border: 2px solid $firstColor;
                            font-family: overseer;
                            background: transparent;
                        }
                    }
                    p {
                        overflow: auto;
                        line-height: 45px;
                        font-size: 1.7em;
                        color: $firstColor;
                        font-family: overseer;
                        text-shadow: 0px 3px 2px #000000
                    }
                }
            }
            video {
                margin: 50px auto;
                display: block;
                object-fit: cover;
            }
            #btnBuy {
                letter-spacing: 5px;
                font-size: 1.6em;
                display: block;
                margin: -10px auto;
                border: 1px solid $firstColor;
                background: transparent;
                transition: all 0.25ms ease;
                a {
                    font-family: overseer;
                    color: $firstColor;
                    text-decoration: none;
                }
                &:active {
                    transform: translateY(10px);
                }
            }
        }
    }
    .footer {
        padding-left: 10px;
        padding-right: 10px;
        @include flex (row);
        align-items: center;
        justify-content: space-between;
        .copyrigth {
            font-size: 1.6em;
            color: $firstColor;
            font-family: overseer;
        }
        .listSocial {
            column-gap: 30px;
            @include flex (row);
            list-style-type: none;
            .social-item {
                .social-link {
                    opacity: 0.7;
                    font-size: 1.3em;
                    color: $firstColor;
                    text-decoration: none;
                    &:hover {
                        opacity: 1.0;
                    }
                }
            }
        }
    }
}

.starfield {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/picts/starfield/starfieldWallpaper.png');
    .navbar {
        @include flex (row);
        justify-content: space-between;
        .navbar-brand {
            .img-fluid {
                height: 160px;
                cursor: pointer;
                max-width: 350px;
                margin-left: 6px;
            }
        }
        #btnBars {
            display: none;
            cursor: pointer;
            font-size: 1.5em;
            color: $firstColor;
            border: transparent;
            background: transparent;
        }
        .navbar-nav {
            align-items: center;
            column-gap: 60px;
            margin-right: 15px;
            .nav-item {
                .nav-link {
                    font-size: 1.4em; 
                }
            }
            #btnLog {
                margin-bottom: 7px;
                color: $firstColor;
                cursor: pointer;
                font-size: 1.6em;
                border: transparent;
                background: transparent;
            }
        }
    }
    .showGame {
        margin: 25px auto;
        .containGame {
            .row {
                column-gap: -30px;
                .col-lg-4 {
                    text-align: center;
                    .img-fluid {
                        text-align: center;
                        height: 280px;
                        max-width: 300px;
                    }
                }
                .col-lg-8 {
                    line-height: 40px;
                    margin-left: -100px;
                    h2 {
                        font-size: 2.5em;
                        color: $firstColor;
                        text-shadow: 4px 3px 8px #6d0303                     }
                    .listType {
                        margin-left: -20px;
                        button {
                            padding: 2px;
                            font-size: 1.2em;
                            margin-left: 20px;
                            margin-right: 20px;
                            color: $firstColor;
                            border: 2px solid $firstColor;
                            font-family: conthrax;
                            background: transparent;
                        }
                    }
                    p {
                        line-height: 50px;
                        font-size: 1.2em;
                        color: $firstColor;
                        font-family: conthrax;
                        text-shadow: 0px 3px 2px #000000
                    }
                }
            }
            video {
                margin: 50px auto;
                display: block;
                object-fit: cover;
            }
            #btnBuy {
                letter-spacing: 5px;
                font-size: 1.6em;
                display: block;
                margin: -10px auto;
                border: 1px solid $firstColor;
                background: transparent;
                transition: all 0.25ms ease;
                a {
                    font-family: conthrax;
                    color: $firstColor;
                    text-decoration: none;
                }
                &:active {
                    transform: translateY(10px);
                }
            }
        }
    }
    .footer {
        padding-left: 10px;
        padding-right: 10px;
        @include flex (row);
        align-items: center;
        justify-content: space-between;
        .copyrigth {
            font-size: 1.6em;
            color: $firstColor;
            font-family: conthrax;
        }
        .listSocial {
            column-gap: 30px;
            @include flex (row);
            list-style-type: none;
            .social-item {
                .social-link {
                    opacity: 0.7;
                    font-size: 1.3em;
                    color: $firstColor;
                    text-decoration: none;
                    &:hover {
                        opacity: 1.0;
                    }
                }
            }
        }
    }
}
// FONTS
@font-face {
    font-family: planewalker;
    src: url('/assets/fonts/theElderScrolls/Planewalker.otf');
}

@font-face {
    font-family: overseer;
    src: url('/assets/fonts/Fallout/Overseer.otf');
}

@font-face {
    font-family: conthrax;
    src: url('/assets/fonts/Starfield/conthrax-sb.otf');
}

@media screen and (max-width: 1440px) {
    .show {
        #carouselExampleCaptions {
            .carousel-inner {
                .carousel-item {
                    #tesShow {
                        #btnShow {
                            &.show {
                                margin-left: 320px;
                            }
                        }
                    }
                }
            }
        }
    }
    .tes, .fallout, .starfield {
        .showGame {
            .containGame {
                .row {
                    .col-lg-8 {
                        padding-top: 25px;
                        padding-bottom: 15px;
                        margin-left: -5%;
                        h2 {
                            font-size: 1.7em;
                        }
                        p {
                            line-height: 45px;
                        }
                    }
                }
            }
        }
    }
    .fallout {
        .footer {
            padding-right: 20px;
            padding-left: 20px;
            .listSocial {
                margin-top: -14px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .tes, .fallout, .starfield {
        .showGame {
            .containGame {
                .row {
                    .col-lg-8 {
                        padding-top: 20px;
                        padding-bottom: 35px;
                        margin-left: -1%;
                        h2 {
                            font-size: 1.6em;
                        }
                        p {
                            line-height: 35px;
                        }
                    }
                }
                video {
                    width: 89%;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .tes, .fallout, .starfield {
        .navbar {
            #btnBars {
                display: block;
                margin-right: 10px;
            }
            .navbar-nav {
                display: none;
            }
        }
        .showGame {
            .containGame {
                .row {
                    .col-lg-8 {
                        margin-top: 10px;
                        h2 {
                            text-align: center;
                            font-size: 1.6em;
                        }
                        p {
                            text-align: center;
                            line-height: 40px;
                        }
                    }
                }
                video {
                    margin-top: -20px;
                    width: 89%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .tes {
        .footer {
            .copyrigth {
                font-size: 1.3em;
            }
            .listSocial {
                margin-top: -17px;
                .social-item {
                    .social-link {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
    .starfield {
        .footer {
            .copyrigth {
                font-size: 1.1em;
            }
            .listSocial {
                margin-top: -17px;
                margin-right: 10px;
                .social-item {
                    .social-link {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 515px) {
    .starfield {
        .footer {
            margin-top: 10px;
            .copyrigth {
                font-size: 0.9em;
            }
            .listSocial {
                margin-top: -17px;
                margin-right: 10px;
                .social-item {
                    .social-link {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 453px) {
    .starfield {
        .footer {
            margin-top: 40px;
            @include flex (column);
            .copyrigth {
                font-size: 1.0em;
                
            }
            .listSocial {
                margin-top: 17px;
                padding-bottom: 20px;
                margin-right: 10px;
                .social-item {
                    .social-link {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .tes {
        .footer {
            .copyrigth {
                font-size: 1.2em;
            }
            .listSocial {
                column-gap: 15px;
                margin-top: -19px;
                .social-item {
                    .social-link {
                        font-size: 1.0em;
                    }
                }
            }
        }
    }
    .fallout {
        .footer {
            @include flex (column);
            padding-right: 20px;
            padding-left: 20px;
            .listSocial {
                column-gap: 15px;
                margin-top: 12px;
                padding-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .tes, .fallout, .starfield {
        .navbar {
            .navbar-brand {
                .img-fluid {
                    height: 120px;
                    max-width: 240px;
                }
            }
            #btnBars {
                font-size: 1.3em;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .tes {
        .footer {
            @include flex (column);
            .copyrigth {
                font-size: 1.4em;
            }
            .listSocial {
                column-gap: 15px;
                margin-top: -12px;
                padding-bottom: 22px;
                .social-item {
                    .social-link {
                        font-size: 1.3em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .starfield {
        .footer {
            @include flex (column);
            .copyrigth {
                font-size: 0.9em;
            }
            .listSocial {
                column-gap: 15px;
                margin-top: 10px;
                padding-bottom: 22px;
                .social-item {
                    .social-link {
                        font-size: 1.3em;
                    }
                }
            }
        }
    }
}