* {
  box-sizing: border-box;
}

body {
  margin: auto;
  display: block;
}

.show #carouselExampleCaptions .carousel-inner .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item .navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item .navbar .navbar-brand .img-fluid {
  height: 160px;
  cursor: pointer;
  max-width: 350px;
  margin-left: 6px;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item .navbar #btnBars {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
  color: azure;
  border: transparent;
  background: transparent;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item .navbar .navbar-nav {
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin-right: 15px;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item .navbar .navbar-nav .nav-item .nav-link {
  font-size: 1.4em;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item .navbar .navbar-nav #btnLog {
  margin-bottom: 7px;
  color: azure;
  cursor: pointer;
  font-size: 1.6em;
  border: transparent;
  background: transparent;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #tesShow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #tesShow .showGames .row {
  margin-top: -70px;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #tesShow .showGames .row .col-lg-4 .img-fluid {
  margin: 16px auto;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #tesShow .showGames.hide {
  display: none;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #tesShow .showGames.show {
  display: block;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #tesShow #btnShow {
  margin: auto;
  display: block;
  position: relative;
  top: 50%;
  left: 0%;
  font-size: 1.4em;
  transform: translate(-30%, -50%);
  background: transparent;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #tesShow #btnShow.show {
  transform: translate(-40%, 40%);
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #falloutShow {
  position: absolute;
  top: 50%;
  left: 24%;
  transform: translate(-50%, -50%);
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #falloutShow #falloutSaga {
  text-align: center;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #falloutShow #falloutSaga.show {
  margin: auto;
  display: block;
  margin-left: 128px;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #falloutShow .showGames .row {
  margin-top: -40px;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #falloutShow .showGames .row .col-lg-4 .img-fluid {
  margin: 16px auto;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #falloutShow .showGames.hide {
  display: none;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #falloutShow .showGames.show {
  display: block;
  margin: 30px auto;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #falloutShow #btnShow {
  margin: auto;
  display: block;
  font-size: 1.6em;
  background: transparent;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #falloutShow #btnShow.show {
  margin-left: 280px;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #falloutShow.show {
  top: 60%;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #starfieldShow {
  position: absolute;
  top: 60%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #starfieldShow #starfieldSaga {
  height: 450px;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #starfieldShow .showGames .row {
  margin-top: -70px;
  margin-left: -20px;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #starfieldShow .showGames .row .col-lg-12 .img-fluid {
  display: block;
  text-align: center;
  margin: 16px auto;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #starfieldShow .showGames.hide {
  display: none;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #starfieldShow .showGames.show {
  display: block;
  margin: 10px auto;
}
.show #carouselExampleCaptions .carousel-inner .carousel-item #starfieldShow #btnShow {
  margin: auto;
  display: block;
  font-size: 1.3em;
  background: transparent;
}

#sideTes {
  max-width: 150px;
  height: 205px;
  border: 1px solid azure;
  border-radius: 0px 0px 0px 40px;
}
#sideTes .offcanvas-body {
  border: 1px solid azure;
  background-color: black;
  border-radius: 0px 0px 0px 40px;
}
#sideTes .offcanvas-body #btnCloseCanvas {
  position: relative;
  top: -6px;
  left: 82%;
  font-size: 1.4em;
  color: darkred;
  border: transparent;
  background: transparent;
}
#sideTes .offcanvas-body .navbar {
  margin-left: 10px;
  margin-top: -14px;
}
#sideTes .offcanvas-body .navbar .navbar-nav {
  line-height: 25px;
  text-align: center;
}
#sideTes .offcanvas-body .navbar .navbar-nav .nav-item {
  font-size: 1.1em;
  color: azure;
  font-family: planewalker;
}

#sideFallout {
  max-width: 150px;
  height: 205px;
  border: 1px solid azure;
  border-radius: 0px 0px 0px 40px;
}
#sideFallout .offcanvas-body {
  border: 1px solid azure;
  background-color: black;
  border-radius: 0px 0px 0px 40px;
}
#sideFallout .offcanvas-body #btnCloseCanvas {
  position: relative;
  top: -6px;
  left: 82%;
  font-size: 1.4em;
  color: darkred;
  border: transparent;
  background: transparent;
}
#sideFallout .offcanvas-body .navbar {
  margin-left: 10px;
  margin-top: -14px;
}
#sideFallout .offcanvas-body .navbar .navbar-nav {
  line-height: 25px;
  text-align: center;
  margin-left: 15px;
}
#sideFallout .offcanvas-body .navbar .navbar-nav .nav-item {
  font-size: 1.4em;
  color: azure;
  font-family: overseer;
}

#sideStar {
  max-width: 150px;
  height: 205px;
  border: 1px solid azure;
  border-radius: 0px 0px 0px 40px;
}
#sideStar .offcanvas-body {
  border: 1px solid azure;
  background-color: black;
  border-radius: 0px 0px 0px 40px;
}
#sideStar .offcanvas-body #btnCloseCanvas {
  position: relative;
  top: -6px;
  left: 82%;
  font-size: 1.4em;
  color: darkred;
  border: transparent;
  background: transparent;
}
#sideStar .offcanvas-body .navbar {
  margin-left: 10px;
  margin-top: -14px;
}
#sideStar .offcanvas-body .navbar .navbar-nav {
  text-align: center;
  line-height: 25px;
  margin-left: -8px;
}
#sideStar .offcanvas-body .navbar .navbar-nav .nav-item {
  font-size: 1em;
  color: azure;
  font-family: conthrax;
}

.tes {
  width: 100%;
}
.tes::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 127vh;
  opacity: 0.85;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("/assets/picts/theElderScrolls/theElderScrollsWallpaper.jpg");
}
.tes .navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.tes .navbar .navbar-brand .img-fluid {
  height: 160px;
  cursor: pointer;
  max-width: 350px;
  margin-left: 6px;
}
.tes .navbar #btnBars {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
  color: azure;
  border: transparent;
  background: transparent;
}
.tes .navbar .navbar-nav {
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin-right: 15px;
}
.tes .navbar .navbar-nav .nav-item .nav-link {
  font-size: 1.4em;
}
.tes .navbar .navbar-nav #btnLog {
  margin-bottom: 7px;
  color: azure;
  cursor: pointer;
  font-size: 1.6em;
  border: transparent;
  background: transparent;
}
.tes .showGame {
  margin: 25px auto;
}
.tes .showGame .containGame {
  padding: 10px;
}
.tes .showGame .containGame .row {
  -moz-column-gap: -30px;
       column-gap: -30px;
}
.tes .showGame .containGame .row .col-lg-4 {
  text-align: center;
}
.tes .showGame .containGame .row .col-lg-4 .img-fluid {
  text-align: center;
  height: 320px;
  max-width: 300px;
}
.tes .showGame .containGame .row .col-lg-8 {
  line-height: 40px;
  margin-left: -100px;
}
.tes .showGame .containGame .row .col-lg-8 h2 {
  font-size: 2.5em;
  color: azure;
  text-shadow: 0px 3px 2px #000000;
}
.tes .showGame .containGame .row .col-lg-8 .listType {
  margin-left: -20px;
}
.tes .showGame .containGame .row .col-lg-8 .listType button {
  padding: 2px;
  font-size: 1.2em;
  margin-left: 20px;
  margin-right: 20px;
  color: azure;
  border: 2px solid azure;
  font-family: planewalker;
  background: transparent;
}
.tes .showGame .containGame .row .col-lg-8 p {
  overflow: auto;
  line-height: 55px;
  font-size: 1.5em;
  color: azure;
}
.tes .showGame .containGame video {
  margin: 50px auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.tes .showGame .containGame #btnBuy {
  letter-spacing: 5px;
  font-size: 1.4em;
  display: block;
  margin: -10px auto;
  border: 1px solid azure;
  background: transparent;
  transition: all 0.25ms ease;
}
.tes .showGame .containGame #btnBuy a {
  font-family: planewalker;
  color: azure;
  text-decoration: none;
}
.tes .showGame .containGame #btnBuy:active {
  transform: translateY(10px);
}

.fallout {
  width: 100%;
}
.fallout::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 127vh;
  opacity: 0.85;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("/assets/picts/fallout/falloutWallpaper.jpg");
}
.fallout .navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.fallout .navbar .navbar-brand .img-fluid {
  height: 160px;
  cursor: pointer;
  max-width: 350px;
  margin-left: 6px;
}
.fallout .navbar #btnBars {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
  color: azure;
  border: transparent;
  background: transparent;
}
.fallout .navbar .navbar-nav {
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin-right: 15px;
}
.fallout .navbar .navbar-nav .nav-item .nav-link {
  font-size: 1.4em;
}
.fallout .navbar .navbar-nav #btnLog {
  margin-bottom: 7px;
  color: azure;
  cursor: pointer;
  font-size: 1.6em;
  border: transparent;
  background: transparent;
}
.fallout .showGame {
  margin: 25px auto;
}
.fallout .showGame .containGame {
  padding: 10px;
}
.fallout .showGame .containGame .row {
  -moz-column-gap: -30px;
       column-gap: -30px;
}
.fallout .showGame .containGame .row .col-lg-4 {
  text-align: center;
}
.fallout .showGame .containGame .row .col-lg-4 .img-fluid {
  text-align: center;
  height: 260px;
  max-width: 300px;
}
.fallout .showGame .containGame .row .col-lg-8 {
  line-height: 40px;
  margin-left: -100px;
}
.fallout .showGame .containGame .row .col-lg-8 h2 {
  font-size: 2.5em;
  color: azure;
  text-shadow: 0px 3px 2px #000000;
}
.fallout .showGame .containGame .row .col-lg-8 .listType {
  margin-left: -20px;
}
.fallout .showGame .containGame .row .col-lg-8 .listType button {
  padding: 2px;
  font-size: 1.8em;
  margin-left: 20px;
  margin-right: 20px;
  color: azure;
  border: 2px solid azure;
  font-family: overseer;
  background: transparent;
}
.fallout .showGame .containGame .row .col-lg-8 p {
  overflow: auto;
  line-height: 45px;
  font-size: 1.5em;
  color: azure;
}
.fallout .showGame .containGame video {
  margin: 50px auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.fallout .showGame .containGame #btnBuy {
  letter-spacing: 5px;
  font-size: 1.6em;
  display: block;
  margin: -10px auto;
  border: 1px solid azure;
  background: transparent;
  transition: all 0.25ms ease;
}
.fallout .showGame .containGame #btnBuy a {
  font-family: overseer;
  color: azure;
  text-decoration: none;
}
.fallout .showGame .containGame #btnBuy:active {
  transform: translateY(10px);
}

.starfield {
  width: 100%;
  height: 100vh;
  position: relative;
}
.starfield::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 127vh;
  opacity: 0.85;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("/assets/picts/starfield/starfieldWallpaper.png");
}
.starfield .navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.starfield .navbar .navbar-brand .img-fluid {
  height: 160px;
  cursor: pointer;
  max-width: 350px;
  margin-left: 6px;
}
.starfield .navbar #btnBars {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
  color: azure;
  border: transparent;
  background: transparent;
}
.starfield .navbar .navbar-nav {
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin-right: 15px;
}
.starfield .navbar .navbar-nav .nav-item .nav-link {
  font-size: 1.4em;
}
.starfield .navbar .navbar-nav #btnLog {
  margin-bottom: 7px;
  color: azure;
  cursor: pointer;
  font-size: 1.6em;
  border: transparent;
  background: transparent;
}
.starfield .showGame {
  margin: 25px auto;
}
.starfield .showGame .containGame .row {
  -moz-column-gap: -30px;
       column-gap: -30px;
}
.starfield .showGame .containGame .row .col-lg-4 {
  text-align: center;
}
.starfield .showGame .containGame .row .col-lg-4 .img-fluid {
  text-align: center;
  height: 280px;
  max-width: 300px;
}
.starfield .showGame .containGame .row .col-lg-8 {
  line-height: 40px;
  margin-left: -100px;
}
.starfield .showGame .containGame .row .col-lg-8 h2 {
  font-size: 2.5em;
  color: azure;
  text-shadow: 0px 3px 2px #000000;
}
.starfield .showGame .containGame .row .col-lg-8 .listType {
  margin-left: -20px;
}
.starfield .showGame .containGame .row .col-lg-8 .listType button {
  padding: 2px;
  font-size: 1.2em;
  margin-left: 20px;
  margin-right: 20px;
  color: azure;
  border: 2px solid azure;
  font-family: conthrax;
  background: transparent;
}
.starfield .showGame .containGame .row .col-lg-8 p {
  line-height: 50px;
  font-size: 1.5em;
  color: azure;
}
.starfield .showGame .containGame video {
  margin: 50px auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.starfield .showGame .containGame #btnBuy {
  letter-spacing: 5px;
  font-size: 1.6em;
  display: block;
  margin: -10px auto;
  border: 1px solid azure;
  background: transparent;
  transition: all 0.25ms ease;
}
.starfield .showGame .containGame #btnBuy a {
  font-family: conthrax;
  color: azure;
  text-decoration: none;
}
.starfield .showGame .containGame #btnBuy:active {
  transform: translateY(10px);
}

@font-face {
  font-family: planewalker;
  src: url("/assets/fonts/theElderScrolls/Planewalker.otf");
}
@font-face {
  font-family: overseer;
  src: url("/assets/fonts/Fallout/Overseer.otf");
}
@font-face {
  font-family: conthrax;
  src: url("/assets/fonts/Starfield/conthrax-sb.otf");
}
@media screen and (max-width: 1440px) {
  .show #carouselExampleCaptions .carousel-inner .carousel-item #tesShow #tesSaga {
    margin-left: 30px;
  }
  .show #carouselExampleCaptions .carousel-inner .carousel-item #tesShow #btnShow {
    transform: translate(-10%, -50%);
  }
  .show #carouselExampleCaptions .carousel-inner .carousel-item #tesShow #btnShow.show {
    transform: translate(-10%, 10%);
  }
  .show #carouselExampleCaptions .carousel-inner .carousel-item #starfieldShow #starfieldSaga {
    height: 120px;
  }
}
@media screen and (max-width: 1230px) {
  .tes .showGame .containGame .row .col-lg-8 p, .fallout .showGame .containGame .row .col-lg-8 p, .starfield .showGame .containGame .row .col-lg-8 p {
    line-height: 38px;
  }
}
@media screen and (max-width: 1160px) {
  .tes .showGame .containGame .row, .fallout .showGame .containGame .row, .starfield .showGame .containGame .row {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .tes .showGame .containGame .row .col-lg-8 p, .fallout .showGame .containGame .row .col-lg-8 p, .starfield .showGame .containGame .row .col-lg-8 p {
    line-height: 38px;
  }
}
@media screen and (max-width: 1024px) {
  .show #carouselExampleCaptions .carousel-inner .carousel-item .navbar #btnBars {
    display: block;
    margin-right: 20px;
  }
  .show #carouselExampleCaptions .carousel-inner .carousel-item .navbar .navbar-nav {
    display: none;
  }
  .tes .navbar #btnBars, .fallout .navbar #btnBars, .starfield .navbar #btnBars {
    display: block;
    margin-right: 15px;
  }
  .tes .navbar .navbar-nav, .fallout .navbar .navbar-nav, .starfield .navbar .navbar-nav {
    display: none;
  }
  .tes .showGame .containGame .row .col-lg-8 .listType button, .fallout .showGame .containGame .row .col-lg-8 .listType button, .starfield .showGame .containGame .row .col-lg-8 .listType button {
    font-size: 1.3em;
  }
  .tes .showGame .containGame .row .col-lg-8 p, .fallout .showGame .containGame .row .col-lg-8 p, .starfield .showGame .containGame .row .col-lg-8 p {
    overflow: scroll;
  }
}
@media screen and (max-width: 991px) {
  .tes .showGame .containGame .row .col-lg-4 .img-fluid, .fallout .showGame .containGame .row .col-lg-4 .img-fluid, .starfield .showGame .containGame .row .col-lg-4 .img-fluid {
    height: 380px;
  }
  .tes .showGame .containGame .row .col-lg-8, .fallout .showGame .containGame .row .col-lg-8, .starfield .showGame .containGame .row .col-lg-8 {
    margin-left: 15px;
    margin-top: 20px;
    text-align: center;
  }
  .tes .showGame .containGame .row .col-lg-8 .listType, .fallout .showGame .containGame .row .col-lg-8 .listType, .starfield .showGame .containGame .row .col-lg-8 .listType {
    margin-left: 20px;
  }
  .tes .showGame .containGame .row .col-lg-8 .listType button, .fallout .showGame .containGame .row .col-lg-8 .listType button, .starfield .showGame .containGame .row .col-lg-8 .listType button {
    padding: 6px;
    font-size: 1.3em;
  }
  .tes .showGame .containGame .row .col-lg-8 p, .fallout .showGame .containGame .row .col-lg-8 p, .starfield .showGame .containGame .row .col-lg-8 p {
    margin-top: 10px;
    overflow: scroll;
    margin-right: 24px;
  }
}
@media screen and (max-width: 768px) {
  .show #carouselExampleCaptions .carousel-inner .carousel-item #tesShow .showGames {
    overflow-y: auto;
  }
  .show #carouselExampleCaptions .carousel-inner .carousel-item #tesShow .showGames .row {
    overflow-y: auto;
  }
}/*# sourceMappingURL=styles.css.map */